examples/Node-RED-covid19-county-dashboard.json
[
    {
        "id": "7658216f.bd2368",
        "type": "tab",
        "label": "NJ County COVID",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3935f4d0.a841e4",
        "type": "csv",
        "z": "7658216f.bd2368",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "a6d780e3.7762f"
            ]
        ]
    },
    {
        "id": "1c3f68b2.4254b7",
        "type": "debug",
        "z": "7658216f.bd2368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "twcparams",
        "targetType": "msg",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b8b3b2e.256bd4",
        "type": "twc-covid19-tracker",
        "z": "7658216f.bd2368",
        "name": "",
        "locationtype": "geocode",
        "location": "07450:US",
        "territory": "country",
        "apikey": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "f00b575e.986648"
            ]
        ]
    },
    {
        "id": "a6d780e3.7762f",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "County API Parameters",
        "rules": [
            {
                "t": "set",
                "p": "twcparams",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "twcparams.location",
                "pt": "msg",
                "to": "payload.col3&\",\"&payload.col4",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "twcparams.locationtype",
                "pt": "msg",
                "to": "geocode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "twcparams.territory",
                "pt": "msg",
                "to": "county",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "1c3f68b2.4254b7",
                "6b8b3b2e.256bd4"
            ]
        ]
    },
    {
        "id": "d2677155.dbdee",
        "type": "template",
        "z": "7658216f.bd2368",
        "name": "NJ Counties",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Atlantic County, New Jersey,39.469354,-74.633758\nBergen County, New Jersey,40.959090,-74.074522\nBurlington County, New Jersey,39.875786,-74.663006\nCamden County, New Jersey,39.802352,-74.961251\nCape May County, New Jersey,39.086143,-74.847716\nCumberland County, New Jersey,39.328387,-75.121644\nEssex County, New Jersey,40.787217,-74.246136\nGloucester County, New Jersey,39.721019,-75.143708\nHudson County, New Jersey,40.731384,-74.078627\nHunterdon County, New Jersey,40.565283,-74.911970\nMercer County, New Jersey,40.282503,-74.703724\nMiddlesex County, New Jersey,40.439593,-74.407585\nMonmouth County, New Jersey,40.287056,-74.152446\nMorris County, New Jersey,40.858581,-74.547427\nOcean County, New Jersey,39.865850,-74.263027\nPassaic County, New Jersey,41.033763,-74.300308\nSalem County, New Jersey,39.573828,-75.357356\nSomerset County, New Jersey,40.565522,-74.619930\nSussex County, New Jersey,41.137424,-74.691855\nUnion County, New Jersey,40.659871,-74.308696\nWarren County, New Jersey,40.853524,-75.009542",
        "output": "str",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "3935f4d0.a841e4"
            ]
        ]
    },
    {
        "id": "bb9a9e1c.9b8da",
        "type": "debug",
        "z": "7658216f.bd2368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "c17f284e.d27a8",
        "type": "ui_table",
        "z": "7658216f.bd2368",
        "group": "53e7e332.6e962c",
        "name": "COVID County Reports",
        "order": 2,
        "width": "8",
        "height": "12",
        "columns": [
            {
                "field": "recordLocation",
                "title": "County",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "confirmed",
                "title": "Confirmed",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "deaths",
                "title": "Deaths",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "90858967.7c36f",
                "28485466.0f7584",
                "a9ed9ebf.e0694",
                "cd8693f5.e1d7",
                "538c211.53028e"
            ]
        ]
    },
    {
        "id": "f965efe8.ea81d8",
        "type": "ui_button",
        "z": "7658216f.bd2368",
        "name": "",
        "group": "53e7e332.6e962c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get NJ County Reports",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "d2677155.dbdee"
            ]
        ]
    },
    {
        "id": "215cbe37.fc524a",
        "type": "comment",
        "z": "7658216f.bd2368",
        "name": "Query County Reports",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "f00b575e.986648",
        "type": "join",
        "z": "7658216f.bd2368",
        "name": "",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "d34e0bcf.c686f",
                "d4fe85ee.3c6038"
            ]
        ]
    },
    {
        "id": "d34e0bcf.c686f",
        "type": "function",
        "z": "7658216f.bd2368",
        "name": "Build Table",
        "func": "// Save the COVID data for chart\nflow.set( \"COVIDdata\", msg.payload ) ;\n\n// Build a table\nvar TableArray = [];\nfor( i=0; i < msg.payload.length; i++ ) {\n      var TableEntry = {};\n      TableEntry.recordLocation = msg.payload[i].covid19.recordLocation ;\n      TableEntry.confirmed = msg.payload[i].covid19.confirmed[0] ;\n      TableEntry.deaths = msg.payload[i].covid19.deaths[0] ;\n      TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "c17f284e.d27a8",
                "bb9a9e1c.9b8da"
            ]
        ]
    },
    {
        "id": "90858967.7c36f",
        "type": "debug",
        "z": "7658216f.bd2368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 410,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4fe85ee.3c6038",
        "type": "debug",
        "z": "7658216f.bd2368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "28485466.0f7584",
        "type": "function",
        "z": "7658216f.bd2368",
        "name": " Plot 60 days of COVID infections",
        "func": "// This function plots a line chart of 60 days of COVID infections\n// msg.payload.covid19.dateReport[0]  // most recent date, counting backwards in time\n// msg.payload.covid19.confirmed[0]\nvar COVIDdata = flow.get(\"COVIDdata\");\n\nmsg.payload = COVIDdata[msg.row];\n\nif( typeof(msg.payload.covid19) == 'undefined' ) {\n  return null;    \n}\n\nvar dateReport = new Date( msg.payload.covid19.dateReport[0] ).getTime() ;\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Confirmed\",\"Deaths\"],\n                   \"data\":[ [{\"x\":dateReport,\"y\":msg.payload.covid19.confirmed[0]}],\n                            [{\"x\":dateReport,\"y\":msg.payload.covid19.deaths[0]}],\n                          ],\n                   \"labels\":[\"\",\"\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.covid19.dateReport.length; i++ ) {\n    dateReport = new Date( msg.payload.covid19.dateReport[i] ).getTime() ;\n    ChartData[0].data[0].push( { \"x\":dateReport,\"y\":msg.payload.covid19.confirmed[i] } )\n    ChartData[0].data[1].push( { \"x\":dateReport,\"y\":msg.payload.covid19.deaths[i] } )\n}\n\n// Sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "4fc1b744.9f5e48"
            ]
        ]
    },
    {
        "id": "4fc1b744.9f5e48",
        "type": "ui_chart",
        "z": "7658216f.bd2368",
        "name": "COVID Chart",
        "group": "25ac9be5.4f49bc",
        "order": 2,
        "width": "12",
        "height": "6",
        "label": "Total COVID-19 Infections and Deaths",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9b1d68fc.c0b92",
        "type": "comment",
        "z": "7658216f.bd2368",
        "name": "How to find County geocoordinates",
        "info": "I wanted to build an app that reports Covid-19 data by state / county.  I went on a long hunt to find an API that would return all counties in a state.  The best I could come up with is parsing the data from this wikipedia page...\nhttps://en.wikipedia.org/wiki/User:Michael_J/County_table \n\n- Edit the wikipedia page\n- Just copy the contents\n- Save the contents as a local file allcounties.txt\n- Cancel out of the wikipedia page edit.\n\nOn my Linux system, I grabbed three columns [ County name, Latitude, Longitude ], then cleaned it up.  \nHere's the pipeline of commands\n- cat the file\n- cut columns 13,42,45\n- remove the degree symbol\n- remove extraneous [ characters\n- grep on the + to give you all counties in USA\n- 3049 rows of data\n- grep on the State you are interested in\n- replace | with commas\n- remove the +\n- replace the unicode – with a normal dash - (the API expects a - minus longitude)\n- Copy the 21 counties in NJ into the template node\n\n\n$ cat allcounties.txt | cut -d\\| -f13,42,45 | tr -d '°' | tr -d '[' | grep \"+\" | grep \"New Jersey\" | sed -e 's/|/,/g' | sed -e 's/+//g' | sed -e 's/–/-/g'",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "a9ed9ebf.e0694",
        "type": "function",
        "z": "7658216f.bd2368",
        "name": "Attributions",
        "func": "// This function node builds an attribution string\nvar COVIDdata = flow.get(\"COVIDdata\");\n\nmsg.payload = COVIDdata[msg.row];\n\nif( typeof(msg.payload.covid19) == 'undefined' ) {\n  return null;    \n}\n\nmsg.payload = COVIDdata[msg.row].covid19.recordLocation + \" - \" + COVIDdata[msg.row].covid19.source[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "95d62e16.4a2e08"
            ]
        ]
    },
    {
        "id": "95d62e16.4a2e08",
        "type": "ui_text",
        "z": "7658216f.bd2368",
        "group": "25ac9be5.4f49bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "County Label",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "cd8693f5.e1d7",
        "type": "function",
        "z": "7658216f.bd2368",
        "name": " Plot new cases and 7 day moving average of COVID new cases",
        "func": "// This function plots a line chart of 60 days of COVID infections\n// msg.payload.covid19.dateReport[0]  // most recent date, counting backwards in time\n// msg.payload.covid19.confirmed[0]\nvar COVIDdata = flow.get(\"COVIDdata\");\n\nmsg.payload = COVIDdata[msg.row];\n\nif( typeof(msg.payload.covid19) == 'undefined' ) {\n  return null;    \n}\n\nvar dateReport = new Date( msg.payload.covid19.dateReport[0] ).getTime() ;\n// Calculate the first 7 day moving average\n\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"New Cases\",\"7 Day Moving Average\"],\n                   \"data\":[ [{\"x\":dateReport,\"y\":msg.payload.covid19.confirmed[0]-msg.payload.covid19.confirmed[1]}],\n                            [{\"x\":dateReport,\"y\":0}]\n                          ],\n                   \"labels\":[\"\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.covid19.dateReport.length; i++ ) {\n    dateReport = new Date( msg.payload.covid19.dateReport[i] ).getTime() ;\n    if( i != (msg.payload.covid19.dateReport.length-1) ) {\n        ChartData[0].data[0].push( { \"x\":dateReport,\"y\":msg.payload.covid19.confirmed[i]-msg.payload.covid19.confirmed[i+1] } )\n    }\n}\n\n// 7 Day Moving Average\nvar numOfDays = 6;\nfor( var j=0; j < (msg.payload.covid19.dateReport.length - numOfDays); j++ ) {\n    dateReport = new Date( msg.payload.covid19.dateReport[j] ).getTime() ;\n    \n    var total = 0;\n    for(var m = j; m < (j + numOfDays); m++) {\n        total += ChartData[0].data[0][m].y;\n    }\n    ChartData[0].data[1].push( { \"x\":dateReport,\"y\": Math.round(total / numOfDays) } );\n }\n\n// Sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n// Sort on the time so that we give the Chart node an array in time order\nChartData[0].data[1].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "43542d13.f62354"
            ]
        ]
    },
    {
        "id": "43542d13.f62354",
        "type": "ui_chart",
        "z": "7658216f.bd2368",
        "name": "",
        "group": "25ac9be5.4f49bc",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "New Cases",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#d62728",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "538c211.53028e",
        "type": "function",
        "z": "7658216f.bd2368",
        "name": "Map",
        "func": "// This function node builds an Map location / pin\nvar COVIDdata = flow.get(\"COVIDdata\");\n\nmsg.payload = COVIDdata[msg.row];\n\nif( typeof(msg.payload.covid19) == 'undefined' ) {\n  return null;    \n}\n\nmsg.payload = {\n    \"name\" : COVIDdata[msg.row].covid19.recordLocation,\n    \"Confirmed\" : COVIDdata[msg.row].covid19.confirmed[0],\n    \"Deaths\" : COVIDdata[msg.row].covid19.deaths[0],\n    \"lat\"  : COVIDdata[msg.row].covid19.latitude,\n    \"lon\"  : COVIDdata[msg.row].covid19.longitude,\n    \"command\" : { \"zoom\" : 8 }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "41530f6a.44ee2",
                "409ea6e6.e787b8"
            ]
        ]
    },
    {
        "id": "41530f6a.44ee2",
        "type": "ui_worldmap",
        "z": "7658216f.bd2368",
        "group": "4c8d1849.49b328",
        "order": 2,
        "width": "13",
        "height": "13",
        "name": "",
        "lat": "40.25889969",
        "lon": "-74.22599792",
        "zoom": "8",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/newjersey",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "409ea6e6.e787b8",
        "type": "switch",
        "z": "7658216f.bd2368",
        "name": "County maps",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Atlantic",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Bergen",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Burlington",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Camden",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cape May",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cumberland",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Essex",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Gloucester",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hudson",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hunterdon",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mercer",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Middlesex",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Monmouth",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Morris",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Ocean",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Passaic",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Salem",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Somerset",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sussex",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Union",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Warren",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 21,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "d8d3bedd.52e68"
            ],
            [
                "b1b86352.38d638"
            ],
            [
                "178447f1.931e3"
            ],
            [
                "7ab50067.7146c8"
            ],
            [
                "a64b51d.d9ba7b"
            ],
            [
                "3518491e.e85496"
            ],
            [
                "96ba5469.d334d"
            ],
            [
                "cc14c051.d31c9"
            ],
            [
                "49b67fd2.27015"
            ],
            [
                "daf58477.c094d8"
            ],
            [
                "a68a58c7.2eb19"
            ],
            [
                "fdc337c2.02c588"
            ],
            [
                "f2a9b607.2e09f8"
            ],
            [
                "128bae9d.3c7f71"
            ],
            [
                "4f246879.83d9a8"
            ],
            [
                "217d75aa.220db2"
            ],
            [
                "3f400393.32515c"
            ],
            [
                "c5bb1823.d37578"
            ],
            [
                "30359abe.41e866"
            ],
            [
                "78ae2bb8.6da2a4"
            ],
            [
                "e87046d6.81827"
            ]
        ]
    },
    {
        "id": "b1b86352.38d638",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Bergen geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Bergen\",\"layer\":\"Bergen\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#5B8266\",\"stroke-width\":3,\"fill\":\"#5B8266\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.21321,41.134192],[-74.18239,41.121595],[-74.096786,41.083796],[-74.092486,41.081896],[-74.041054,41.059088],[-74.041049,41.059086],[-73.91188,41.001297],[-73.907054,40.998476],[-73.90501,40.997591],[-73.90268,40.997297],[-73.893979,40.997197],[-73.896479,40.981697],[-73.90728,40.951498],[-73.91558,40.924898],[-73.91768,40.919498],[-73.917905,40.917577],[-73.918405,40.917477],[-73.919705,40.913478],[-73.926758,40.895355],[-73.929006,40.889578],[-73.933406,40.882078],[-73.933408,40.882075],[-73.938081,40.874699],[-73.948281,40.858399],[-73.953982,40.848],[-73.963182,40.8269],[-73.968082,40.8207],[-73.984822,40.797444],[-74.017204,40.823541],[-74.044977,40.807702],[-74.06197,40.805334],[-74.089263,40.780046],[-74.118187,40.7701],[-74.147529,40.786491],[-74.130031,40.819962],[-74.118826,40.859327],[-74.106786,40.859299],[-74.130187,40.885999],[-74.12958,40.920071],[-74.148059,40.94159],[-74.148158,40.942339],[-74.146429,40.948441],[-74.141048,40.966348],[-74.170988,40.976997],[-74.224981,40.98163],[-74.248557,40.992342],[-74.270521,41.022131],[-74.21321,41.134192]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "48bd611a.d2fc7",
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "48bd611a.d2fc7",
        "type": "debug",
        "z": "7658216f.bd2368",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "49b67fd2.27015",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Hudson geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Hudson\",\"layer\":\"Hudson\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#68A193\",\"stroke-width\":3,\"fill\":\"#68A193\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.000223,40.77605],[-74.009184,40.763601],[-74.013784,40.756601],[-74.021117,40.727417],[-74.024543,40.709436],[-74.038538,40.710741],[-74.051185,40.695802],[-74.069885,40.684502],[-74.082786,40.673702],[-74.089986,40.659903],[-74.087397,40.653607],[-74.094086,40.649703],[-74.143387,40.641903],[-74.161397,40.644092],[-74.160288,40.645903],[-74.153041,40.6548],[-74.136703,40.674444],[-74.122911,40.691172],[-74.112787,40.703102],[-74.117057,40.710381],[-74.116993,40.737125],[-74.161958,40.736007],[-74.162093,40.736109],[-74.163788,40.739201],[-74.165987,40.745199],[-74.164799,40.754718],[-74.148266,40.779876],[-74.147859,40.784683],[-74.147529,40.786491],[-74.118187,40.7701],[-74.089263,40.780046],[-74.06197,40.805334],[-74.044977,40.807702],[-74.017204,40.823541],[-73.984822,40.797444],[-73.991568,40.788074],[-74.000223,40.77605]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 900,
        "wires": [
            [
                "41530f6a.44ee2",
                "48bd611a.d2fc7"
            ]
        ]
    },
    {
        "id": "4f246879.83d9a8",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Ocean geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Ocean\",\"layer\":\"Ocean\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#688E26\",\"stroke-width\":3,\"fill\":\"#688E26\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.417393,39.557255],[-74.419041,39.568367],[-74.400819,39.572242],[-74.390541,39.595835],[-74.389905,39.773428],[-74.434653,39.854803],[-74.553105,40.07913],[-74.527323,40.090276],[-74.406777,40.172355],[-74.263763,40.168264],[-74.261406,40.166737],[-74.239604,40.112383],[-74.203888,40.11255],[-74.15876,40.105989],[-74.149976,40.098812],[-74.107822,40.137005],[-74.094579,40.108566],[-74.070251,40.089406],[-74.044121,40.105333],[-74.031861,40.101047],[-74.031318,40.100541],[-74.033546,40.099518],[-74.039421,40.081437],[-74.058798,40.001244],[-74.064135,39.979157],[-74.077247,39.910991],[-74.090945,39.799978],[-74.097071,39.767847],[-74.096906,39.76303],[-74.09892,39.759538],[-74.101443,39.756173],[-74.113655,39.740719],[-74.141733,39.689435],[-74.190974,39.625118],[-74.240506,39.554911],[-74.249043,39.547994],[-74.27737,39.514064],[-74.291585,39.507705],[-74.311037,39.506715],[-74.312451,39.499869],[-74.326389,39.506333],[-74.380796,39.498537],[-74.417393,39.557255]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1140,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "178447f1.931e3",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Burlington geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Burlington\",\"layer\":\"Burlington\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#3E6259\",\"stroke-width\":3,\"fill\":\"#3E6259\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.059994,39.991618],[-75.059017,39.992512],[-75.051217,40.004512],[-75.047016,40.008912],[-75.039316,40.013012],[-75.015515,40.019511],[-75.013796,40.020214],[-75.011115,40.021311],[-75.007914,40.023111],[-74.989914,40.037311],[-74.983913,40.042711],[-74.974713,40.048711],[-74.97432,40.048899],[-74.944412,40.063211],[-74.932211,40.068411],[-74.925311,40.07071],[-74.920811,40.07111],[-74.911911,40.06991],[-74.909011,40.07021],[-74.898573,40.072967],[-74.88781,40.07581],[-74.880209,40.07881],[-74.863809,40.08221],[-74.860909,40.08371],[-74.859809,40.08491],[-74.858209,40.08881],[-74.856509,40.09131],[-74.854409,40.09311],[-74.851108,40.09491],[-74.843408,40.09771],[-74.838008,40.10091],[-74.835108,40.10391],[-74.832808,40.11171],[-74.828408,40.12031],[-74.825907,40.12391],[-74.822307,40.12671],[-74.819007,40.12751],[-74.816307,40.12761],[-74.812807,40.12691],[-74.800607,40.12281],[-74.788706,40.12041],[-74.785106,40.12031],[-74.782106,40.12081],[-74.769488,40.129145],[-74.762864,40.132541],[-74.758882,40.134036],[-74.755305,40.13471],[-74.745905,40.13421],[-74.742905,40.13441],[-74.740605,40.13521],[-74.725663,40.145495],[-74.724304,40.14701],[-74.724134,40.14731],[-74.702421,40.184223],[-74.665112,40.164737],[-74.59477,40.137875],[-74.593987,40.137541],[-74.593354,40.137855],[-74.59265,40.137818],[-74.592468,40.138494],[-74.591754,40.137981],[-74.591221,40.137913],[-74.589954,40.138879],[-74.589638,40.138741],[-74.589614,40.13819],[-74.589318,40.138051],[-74.587847,40.138237],[-74.553105,40.07913],[-74.434653,39.854803],[-74.389905,39.773428],[-74.390541,39.595835],[-74.400819,39.572242],[-74.419041,39.568367],[-74.417393,39.557255],[-74.446829,39.559103],[-74.458192,39.547568],[-74.479558,39.55597],[-74.503903,39.569354],[-74.540997,39.576407],[-74.553026,39.597224],[-74.576762,39.598695],[-74.588785,39.611878],[-74.621959,39.626633],[-74.628775,39.620093],[-74.65463,39.626809],[-74.666272,39.681416],[-74.736309,39.729909],[-74.772894,39.750929],[-74.812471,39.785269],[-74.845183,39.79],[-74.889062,39.781804],[-74.902546,39.790797],[-74.903267,39.791247],[-74.926935,39.873839],[-74.964146,39.920683],[-74.983717,39.92694],[-74.974879,39.938382],[-75.014966,39.946546],[-75.01345,39.954188],[-75.013114,39.956433],[-75.017537,39.959087],[-75.016653,39.960623],[-75.017468,39.963509],[-75.018723,39.963664],[-75.019212,39.967462],[-75.010146,39.979768],[-75.03077,39.99281],[-75.059994,39.991618]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "d8d3bedd.52e68",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Atlantic geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Atlantic\",\"layer\":\"Atlantic\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#AEF6C7\",\"stroke-width\":3,\"fill\":\"#AEF6C7\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.736309,39.729909],[-74.666272,39.681416],[-74.65463,39.626809],[-74.628775,39.620093],[-74.621959,39.626633],[-74.588785,39.611878],[-74.576762,39.598695],[-74.553026,39.597224],[-74.540997,39.576407],[-74.503903,39.569354],[-74.479558,39.55597],[-74.458192,39.547568],[-74.446829,39.559103],[-74.417393,39.557255],[-74.380796,39.498537],[-74.326389,39.506333],[-74.312451,39.499869],[-74.313689,39.493874],[-74.308344,39.483945],[-74.304778,39.482945],[-74.302184,39.478935],[-74.304343,39.471445],[-74.334804,39.432001],[-74.36699,39.402017],[-74.406692,39.377516],[-74.406792,39.373916],[-74.408237,39.365071],[-74.412692,39.360816],[-74.459894,39.345016],[-74.521797,39.313816],[-74.541443,39.300245],[-74.568762,39.299268],[-74.591766,39.309343],[-74.618004,39.293522],[-74.643408,39.295492],[-74.653148,39.288607],[-74.657747,39.297012],[-74.699745,39.289593],[-74.736956,39.298498],[-74.764139,39.296425],[-74.78401,39.307122],[-74.824976,39.305283],[-74.837272,39.314734],[-74.860977,39.319625],[-74.861073,39.323768],[-74.864431,39.330731],[-74.851931,39.377647],[-74.856096,39.424729],[-74.985223,39.514802],[-74.911566,39.57862],[-74.877189,39.608288],[-74.801051,39.674102],[-74.736309,39.729909]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 580,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "7ab50067.7146c8",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Camden geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Camden\",\"layer\":\"Camden\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#212922\",\"stroke-width\":3,\"fill\":\"#212922\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.13342,39.896213],[-75.13082,39.900213],[-75.12792,39.911813],[-75.13012,39.917013],[-75.13282,39.921612],[-75.13502,39.927312],[-75.13612,39.933912],[-75.13572,39.947112],[-75.13352,39.954412],[-75.13012,39.958712],[-75.12692,39.961112],[-75.11922,39.965412],[-75.108119,39.970312],[-75.093718,39.974412],[-75.092481,39.974606],[-75.088618,39.975212],[-75.072017,39.980612],[-75.059994,39.991618],[-75.03077,39.99281],[-75.010146,39.979768],[-75.019212,39.967462],[-75.018723,39.963664],[-75.017468,39.963509],[-75.016653,39.960623],[-75.017537,39.959087],[-75.013114,39.956433],[-75.01345,39.954188],[-75.014966,39.946546],[-74.974879,39.938382],[-74.983717,39.92694],[-74.964146,39.920683],[-74.926935,39.873839],[-74.903267,39.791247],[-74.902546,39.790797],[-74.889062,39.781804],[-74.845183,39.79],[-74.812471,39.785269],[-74.772894,39.750929],[-74.736309,39.729909],[-74.801051,39.674102],[-74.877189,39.608288],[-74.902896,39.631907],[-74.909009,39.665331],[-74.930585,39.69085],[-74.959249,39.703006],[-74.988895,39.707602],[-75.023794,39.730465],[-75.022778,39.746945],[-75.0434,39.761938],[-75.049027,39.778503],[-75.063338,39.786006],[-75.074373,39.77394],[-75.08707,39.779576],[-75.072721,39.802629],[-75.085135,39.81287],[-75.083599,39.842712],[-75.118844,39.862761],[-75.140006,39.888465],[-75.13342,39.896213]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "a64b51d.d9ba7b",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Cape May geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Cape May\",\"layer\":\"Cape May\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#294936\",\"stroke-width\":3,\"fill\":\"#294936\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.914936,39.177553],[-74.925579,39.218304],[-74.897098,39.234807],[-74.882094,39.308412],[-74.861073,39.323768],[-74.860977,39.319625],[-74.837272,39.314734],[-74.824976,39.305283],[-74.78401,39.307122],[-74.764139,39.296425],[-74.736956,39.298498],[-74.699745,39.289593],[-74.657747,39.297012],[-74.653148,39.288607],[-74.643408,39.295492],[-74.618004,39.293522],[-74.591766,39.309343],[-74.568762,39.299268],[-74.541443,39.300245],[-74.551151,39.293539],[-74.553439,39.286915],[-74.560957,39.278677],[-74.581008,39.270819],[-74.597921,39.258851],[-74.614481,39.244659],[-74.636306,39.220834],[-74.646595,39.212002],[-74.651443,39.198578],[-74.67143,39.179802],[-74.714341,39.119804],[-74.71532,39.116893],[-74.714135,39.114631],[-74.704409,39.107858],[-74.705876,39.102937],[-74.738316,39.074727],[-74.778777,39.023073],[-74.786356,39.000113],[-74.792723,38.991991],[-74.807917,38.985948],[-74.819354,38.979402],[-74.850748,38.954538],[-74.864458,38.94041],[-74.865198,38.941439],[-74.870497,38.943543],[-74.882309,38.941759],[-74.90705,38.931994],[-74.920414,38.929136],[-74.933571,38.928519],[-74.963463,38.931194],[-74.967274,38.933413],[-74.971995,38.94037],[-74.955363,39.001262],[-74.94947,39.015637],[-74.93832,39.035185],[-74.903664,39.087437],[-74.897784,39.098811],[-74.892547,39.113183],[-74.885914,39.143627],[-74.887167,39.158825],[-74.905181,39.174945],[-74.914936,39.177553]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "3518491e.e85496",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Cumberland geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Cumberland\",\"layer\":\"Cumberland\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#6CEF9A\",\"stroke-width\":3,\"fill\":\"#6CEF9A\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.914936,39.177553],[-74.962382,39.190238],[-74.976266,39.192271],[-74.998002,39.191253],[-75.026179,39.193621],[-75.028885,39.19456],[-75.027824,39.199482],[-75.023586,39.202594],[-75.023437,39.204791],[-75.026376,39.20985],[-75.035672,39.215415],[-75.041663,39.215511],[-75.047797,39.211702],[-75.052326,39.213609],[-75.062506,39.213564],[-75.086395,39.208159],[-75.101019,39.211657],[-75.107286,39.211403],[-75.114748,39.207554],[-75.12707,39.189766],[-75.136548,39.179425],[-75.139136,39.180021],[-75.165979,39.201842],[-75.164798,39.216606],[-75.170444,39.234643],[-75.177506,39.242746],[-75.205857,39.262619],[-75.21251,39.262755],[-75.241639,39.274097],[-75.244056,39.27769],[-75.242881,39.280574],[-75.244357,39.2857],[-75.251806,39.299913],[-75.271629,39.304041],[-75.28262,39.299055],[-75.285333,39.292212],[-75.288898,39.289557],[-75.30601,39.301712],[-75.315201,39.310593],[-75.326754,39.332473],[-75.327463,39.33927],[-75.333743,39.345335],[-75.341969,39.348697],[-75.355558,39.347823],[-75.365016,39.341388],[-75.39003,39.358259],[-75.394331,39.363753],[-75.395181,39.371398],[-75.399304,39.37949],[-75.407294,39.381954],[-75.418911,39.410417],[-75.408753,39.423785],[-75.414305,39.453054],[-75.39983,39.462271],[-75.368107,39.456802],[-75.342322,39.490623],[-75.325917,39.488555],[-75.293613,39.511892],[-75.239529,39.559188],[-75.084014,39.457372],[-75.073324,39.485418],[-75.079699,39.501434],[-75.072214,39.523896],[-75.074395,39.544357],[-75.061973,39.568643],[-74.985223,39.514802],[-74.856096,39.424729],[-74.851931,39.377647],[-74.864431,39.330731],[-74.861073,39.323768],[-74.882094,39.308412],[-74.897098,39.234807],[-74.925579,39.218304],[-74.914936,39.177553]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "96ba5469.d334d",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Essex geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Essex\",\"layer\":\"Essex\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#50E8136\",\"stroke-width\":3,\"fill\":\"#0E8136\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.30123,40.713472],[-74.302092,40.713301],[-74.302695,40.713601],[-74.303691,40.7133],[-74.305393,40.713701],[-74.306991,40.714002],[-74.307589,40.714201],[-74.308793,40.714508],[-74.309388,40.714901],[-74.309791,40.715501],[-74.311691,40.715601],[-74.312794,40.717101],[-74.313793,40.718001],[-74.315293,40.718601],[-74.315991,40.719199],[-74.318992,40.719201],[-74.321408,40.719072],[-74.371923,40.739229],[-74.357894,40.756244],[-74.377517,40.761459],[-74.370863,40.764008],[-74.364173,40.799042],[-74.339168,40.812951],[-74.328722,40.831754],[-74.326219,40.86612],[-74.340154,40.879437],[-74.326269,40.908499],[-74.270702,40.89692],[-74.246691,40.880799],[-74.2403,40.880204],[-74.130031,40.819962],[-74.147529,40.786491],[-74.147859,40.784683],[-74.148266,40.779876],[-74.164799,40.754718],[-74.165987,40.745199],[-74.163788,40.739201],[-74.162093,40.736109],[-74.161958,40.736007],[-74.116993,40.737125],[-74.117057,40.710381],[-74.112787,40.703102],[-74.122911,40.691172],[-74.136703,40.674444],[-74.165187,40.690203],[-74.201589,40.686602],[-74.222452,40.707249],[-74.28587,40.722225],[-74.30123,40.713472]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 820,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "cc14c051.d31c9",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Gloucester geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Gloucester\",\"layer\":\"Gloucester\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#43604B\",\"stroke-width\":3,\"fill\":\"#43604B\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.210876,39.865709],[-75.210425,39.865913],[-75.195324,39.877013],[-75.189323,39.880713],[-75.183023,39.882013],[-75.150721,39.882713],[-75.145421,39.884213],[-75.142421,39.886413],[-75.140221,39.888213],[-75.140006,39.888465],[-75.118844,39.862761],[-75.083599,39.842712],[-75.085135,39.81287],[-75.072721,39.802629],[-75.08707,39.779576],[-75.074373,39.77394],[-75.063338,39.786006],[-75.049027,39.778503],[-75.0434,39.761938],[-75.022778,39.746945],[-75.023794,39.730465],[-74.988895,39.707602],[-74.959249,39.703006],[-74.930585,39.69085],[-74.909009,39.665331],[-74.902896,39.631907],[-74.877189,39.608288],[-74.911566,39.57862],[-74.985223,39.514802],[-75.061973,39.568643],[-75.199806,39.666983],[-75.219988,39.66175],[-75.245461,39.664151],[-75.262393,39.681682],[-75.28549,39.679724],[-75.307554,39.689619],[-75.326452,39.689992],[-75.33663,39.704244],[-75.376783,39.726626],[-75.378232,39.745763],[-75.405959,39.763484],[-75.409172,39.787749],[-75.440909,39.780831],[-75.437938,39.783413],[-75.405337,39.796213],[-75.415041,39.801786],[-75.403737,39.807512],[-75.390536,39.815312],[-75.389764,39.815819],[-75.371835,39.827612],[-75.3544,39.839917],[-75.341765,39.846082],[-75.330433,39.849012],[-75.323232,39.849812],[-75.309674,39.850179],[-75.293376,39.848782],[-75.271159,39.84944],[-75.243431,39.854597],[-75.235026,39.856613],[-75.221025,39.861113],[-75.210876,39.865709]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 860,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "daf58477.c094d8",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Hunterdon geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Hunterdon\",\"layer\":\"Hunterdon\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#1EC296\",\"stroke-width\":3,\"fill\":\"#1EC296\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.066426,40.536619],[-75.067257,40.539584],[-75.068615,40.542223],[-75.078503,40.548296],[-75.0957,40.564401],[-75.100325,40.567811],[-75.110903,40.570671],[-75.117292,40.573211],[-75.136748,40.575731],[-75.141906,40.575273],[-75.147368,40.573152],[-75.158446,40.565286],[-75.162871,40.564096],[-75.168609,40.564111],[-75.175307,40.564996],[-75.183151,40.567354],[-75.186737,40.569406],[-75.192352,40.574257],[-75.194046,40.576256],[-75.19487,40.578591],[-75.195114,40.579689],[-75.194656,40.58194],[-75.190796,40.586838],[-75.190146,40.590359],[-75.190369,40.591642],[-75.180749,40.594556],[-75.145673,40.628745],[-75.108359,40.639754],[-75.076338,40.664013],[-75.016551,40.694488],[-75.002162,40.694309],[-74.979227,40.710883],[-74.968454,40.710791],[-74.889753,40.787832],[-74.827484,40.744072],[-74.752904,40.731026],[-74.724418,40.719455],[-74.717812,40.684098],[-74.730539,40.665623],[-74.719498,40.651807],[-74.725501,40.631736],[-74.703689,40.621296],[-74.724937,40.588755],[-74.712962,40.584231],[-74.724644,40.566108],[-74.742659,40.553898],[-74.775983,40.503283],[-74.797841,40.515557],[-74.782513,40.487775],[-74.748147,40.424156],[-74.808538,40.416655],[-74.802006,40.384921],[-74.869843,40.377845],[-74.856262,40.346695],[-74.942954,40.341643],[-74.943776,40.342564],[-74.945088,40.347332],[-74.946006,40.357306],[-74.948722,40.364768],[-74.953697,40.376081],[-74.963997,40.395246],[-74.965508,40.397337],[-74.969597,40.39977],[-74.982735,40.404432],[-74.985467,40.405935],[-74.988901,40.408773],[-74.996378,40.410528],[-74.998651,40.410093],[-75.003351,40.40785],[-75.017221,40.404638],[-75.024775,40.403455],[-75.028315,40.403883],[-75.036616,40.406796],[-75.041651,40.409894],[-75.043071,40.411603],[-75.046473,40.413792],[-75.056102,40.416066],[-75.058848,40.418065],[-75.061489,40.422848],[-75.062923,40.433407],[-75.067425,40.448323],[-75.070568,40.455165],[-75.070568,40.456348],[-75.067302,40.464954],[-75.06805,40.468578],[-75.067776,40.472827],[-75.064327,40.476795],[-75.062227,40.481391],[-75.061937,40.486362],[-75.062373,40.491689],[-75.065275,40.504682],[-75.066001,40.510716],[-75.065853,40.519495],[-75.06509,40.526148],[-75.066402,40.536532],[-75.066426,40.536619]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 940,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "a68a58c7.2eb19",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Mercer geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Mercer\",\"layer\":\"Mercer\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#69F287\",\"stroke-width\":3,\"fill\":\"#69F287\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.751943,40.183483],[-74.754305,40.185209],[-74.755605,40.186709],[-74.756905,40.189409],[-74.760605,40.198909],[-74.766905,40.207709],[-74.770406,40.214508],[-74.77136,40.215399],[-74.781206,40.221508],[-74.795306,40.229408],[-74.819507,40.238508],[-74.823907,40.241508],[-74.836307,40.246208],[-74.842308,40.250508],[-74.846608,40.258808],[-74.853108,40.269707],[-74.856508,40.277407],[-74.860492,40.284584],[-74.864692,40.290684],[-74.868209,40.295207],[-74.880609,40.305607],[-74.887109,40.310307],[-74.891609,40.313007],[-74.896409,40.315107],[-74.90331,40.315607],[-74.90831,40.316907],[-74.91741,40.322406],[-74.92681,40.329406],[-74.933111,40.333106],[-74.939711,40.338006],[-74.942954,40.341643],[-74.856262,40.346695],[-74.869843,40.377845],[-74.802006,40.384921],[-74.808538,40.416655],[-74.748147,40.424156],[-74.722156,40.375146],[-74.653814,40.391003],[-74.622744,40.384421],[-74.617525,40.377862],[-74.619591,40.374397],[-74.630101,40.340607],[-74.572559,40.301054],[-74.528591,40.294297],[-74.482379,40.273812],[-74.484287,40.253299],[-74.481589,40.243068],[-74.543198,40.21651],[-74.562591,40.189943],[-74.595489,40.179695],[-74.614246,40.182474],[-74.587847,40.138237],[-74.589318,40.138051],[-74.589614,40.13819],[-74.589638,40.138741],[-74.589954,40.138879],[-74.591221,40.137913],[-74.591754,40.137981],[-74.592468,40.138494],[-74.59265,40.137818],[-74.593354,40.137855],[-74.593987,40.137541],[-74.59477,40.137875],[-74.665112,40.164737],[-74.702421,40.184223],[-74.724134,40.14731],[-74.722604,40.15001],[-74.721604,40.15381],[-74.721504,40.158409],[-74.722304,40.160609],[-74.733804,40.174509],[-74.737205,40.177609],[-74.744105,40.181009],[-74.751705,40.183309],[-74.751943,40.183483]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 980,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "fdc337c2.02c588",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Middlesex geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Middlesex\",\"layer\":\"Middlesex\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#679436\",\"stroke-width\":3,\"fill\":\"#679436\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.303392,40.608903],[-74.291391,40.591903],[-74.258114,40.60225],[-74.255822,40.602194],[-74.25381,40.600989],[-74.24779,40.600103],[-74.215101,40.604074],[-74.206731,40.594569],[-74.208988,40.576304],[-74.214788,40.560604],[-74.218189,40.557204],[-74.231589,40.559204],[-74.248641,40.549601],[-74.251441,40.542301],[-74.246237,40.520963],[-74.26829,40.499205],[-74.269998,40.495014],[-74.27269,40.488405],[-74.26759,40.471806],[-74.261889,40.464706],[-74.236689,40.457806],[-74.225035,40.453301],[-74.247371,40.431459],[-74.248298,40.406581],[-74.360699,40.318386],[-74.37859,40.304116],[-74.381135,40.301546],[-74.408085,40.273791],[-74.460776,40.251358],[-74.484287,40.253299],[-74.482379,40.273812],[-74.528591,40.294297],[-74.572559,40.301054],[-74.630101,40.340607],[-74.619591,40.374397],[-74.587804,40.394264],[-74.585864,40.417085],[-74.536248,40.4383],[-74.494275,40.469807],[-74.493226,40.47077],[-74.489524,40.474415],[-74.459922,40.491015],[-74.467425,40.508722],[-74.490547,40.523048],[-74.515782,40.544955],[-74.525899,40.568507],[-74.509589,40.584224],[-74.463351,40.599245],[-74.4568,40.5955],[-74.437334,40.597188],[-74.394634,40.600901],[-74.303392,40.608903]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1020,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "f2a9b607.2e09f8",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Monmouth geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Monmouth\",\"layer\":\"Monmoth\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#659157\",\"stroke-width\":3,\"fill\":\"#659157\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.381135,40.301546],[-74.37859,40.304116],[-74.360699,40.318386],[-74.248298,40.406581],[-74.247371,40.431459],[-74.225035,40.453301],[-74.224047,40.452919],[-74.222959,40.452499],[-74.209788,40.447407],[-74.206188,40.440707],[-74.206419,40.438789],[-74.208655,40.43752],[-74.207205,40.435434],[-74.202128,40.43894],[-74.193908,40.440995],[-74.191309,40.44299],[-74.187787,40.447407],[-74.174787,40.455607],[-74.174893,40.454491],[-74.175074,40.449144],[-74.176842,40.44774],[-74.175346,40.446607],[-74.169977,40.45064],[-74.167009,40.448737],[-74.166193,40.447128],[-74.164029,40.448312],[-74.163314,40.448424],[-74.157787,40.446607],[-74.153611,40.447647],[-74.152686,40.447344],[-74.151952,40.448062],[-74.142886,40.450407],[-74.139886,40.453407],[-74.138415,40.454468],[-74.135823,40.455196],[-74.133727,40.454672],[-74.131135,40.453245],[-74.127466,40.451061],[-74.124692,40.44958],[-74.122327,40.448258],[-74.116863,40.446069],[-74.088085,40.438407],[-74.076185,40.433707],[-74.058984,40.422708],[-74.047884,40.418908],[-74.006383,40.411108],[-73.998505,40.410911],[-73.995486,40.419472],[-73.991682,40.442908],[-74.006077,40.464625],[-74.017783,40.472207],[-74.017917,40.474338],[-74.014031,40.476471],[-74.0071,40.475298],[-73.995683,40.468707],[-73.978282,40.440208],[-73.976982,40.408508],[-73.971381,40.371709],[-73.971381,40.34801],[-73.977442,40.299373],[-73.981681,40.279411],[-73.993292,40.237669],[-74.016017,40.166914],[-74.030181,40.122814],[-74.03408,40.103115],[-74.031861,40.101047],[-74.044121,40.105333],[-74.070251,40.089406],[-74.094579,40.108566],[-74.107822,40.137005],[-74.149976,40.098812],[-74.15876,40.105989],[-74.203888,40.11255],[-74.239604,40.112383],[-74.261406,40.166737],[-74.263763,40.168264],[-74.406777,40.172355],[-74.527323,40.090276],[-74.553105,40.07913],[-74.587847,40.138237],[-74.614246,40.182474],[-74.595489,40.179695],[-74.562591,40.189943],[-74.543198,40.21651],[-74.481589,40.243068],[-74.484287,40.253299],[-74.460776,40.251358],[-74.408085,40.273791],[-74.381135,40.301546]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "128bae9d.3c7f71",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Morris geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Morris\",\"layer\":\"Morris\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#517664\",\"stroke-width\":3,\"fill\":\"#517664\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.334605,41.003719],[-74.300327,41.002743],[-74.297314,40.979761],[-74.277503,40.974428],[-74.289184,40.928725],[-74.270702,40.89692],[-74.326269,40.908499],[-74.340154,40.879437],[-74.326219,40.86612],[-74.328722,40.831754],[-74.339168,40.812951],[-74.364173,40.799042],[-74.370863,40.764008],[-74.377517,40.761459],[-74.357894,40.756244],[-74.371923,40.739229],[-74.390769,40.718294],[-74.426897,40.701711],[-74.461231,40.673397],[-74.523627,40.649702],[-74.534387,40.667256],[-74.513608,40.697339],[-74.526846,40.710872],[-74.528827,40.728133],[-74.548999,40.740994],[-74.555771,40.758005],[-74.724418,40.719455],[-74.752904,40.731026],[-74.827484,40.744072],[-74.889753,40.787832],[-74.850233,40.804235],[-74.801918,40.864055],[-74.807254,40.881836],[-74.767874,40.911823],[-74.731869,40.920823],[-74.711393,40.899141],[-74.691406,40.903998],[-74.65303,40.921623],[-74.634913,40.951144],[-74.638993,40.967267],[-74.606789,40.998027],[-74.536002,41.058497],[-74.504928,41.084805],[-74.502892,41.085904],[-74.496191,41.082407],[-74.491308,41.078126],[-74.487478,41.075639],[-74.487033,41.066827],[-74.499303,41.045197],[-74.499244,41.036163],[-74.493943,41.036836],[-74.487107,41.03993],[-74.481821,41.044068],[-74.476348,41.047666],[-74.470501,41.047879],[-74.462249,41.0513],[-74.452296,41.052733],[-74.443793,41.050877],[-74.439442,41.043664],[-74.435002,41.040276],[-74.431199,41.030297],[-74.429972,41.018656],[-74.425172,41.021737],[-74.423504,41.025734],[-74.416825,41.028254],[-74.410423,41.025836],[-74.401449,41.018821],[-74.389562,41.014012],[-74.379108,41.014216],[-74.36951,41.011609],[-74.363327,41.012292],[-74.35723,41.013714],[-74.351145,41.007009],[-74.345823,41.005072],[-74.338322,41.007043],[-74.334605,41.003719]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "217d75aa.220db2",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Passaic geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Passaic\",\"layer\":\"Passaic\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#7EB4BO\",\"stroke-width\":3,\"fill\":\"#7EB4BO\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.234473,41.142883],[-74.21321,41.134192],[-74.270521,41.022131],[-74.248557,40.992342],[-74.224981,40.98163],[-74.170988,40.976997],[-74.141048,40.966348],[-74.146429,40.948441],[-74.148158,40.942339],[-74.148059,40.94159],[-74.12958,40.920071],[-74.130187,40.885999],[-74.106786,40.859299],[-74.118826,40.859327],[-74.130031,40.819962],[-74.2403,40.880204],[-74.246691,40.880799],[-74.270702,40.89692],[-74.289184,40.928725],[-74.277503,40.974428],[-74.297314,40.979761],[-74.300327,41.002743],[-74.334605,41.003719],[-74.338322,41.007043],[-74.345823,41.005072],[-74.351145,41.007009],[-74.35723,41.013714],[-74.363327,41.012292],[-74.36951,41.011609],[-74.379108,41.014216],[-74.389562,41.014012],[-74.401449,41.018821],[-74.410423,41.025836],[-74.416825,41.028254],[-74.423504,41.025734],[-74.425172,41.021737],[-74.429972,41.018656],[-74.431199,41.030297],[-74.435002,41.040276],[-74.439442,41.043664],[-74.443793,41.050877],[-74.452296,41.052733],[-74.462249,41.0513],[-74.470501,41.047879],[-74.476348,41.047666],[-74.481821,41.044068],[-74.487107,41.03993],[-74.493943,41.036836],[-74.499244,41.036163],[-74.499303,41.045197],[-74.487033,41.066827],[-74.487478,41.075639],[-74.491308,41.078126],[-74.496191,41.082407],[-74.502892,41.085904],[-74.501614,41.087177],[-74.365849,41.202999],[-74.320995,41.182394],[-74.301994,41.172594],[-74.234473,41.142883]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "3f400393.32515c",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Salem geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Salem\",\"layer\":\"Salem\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#68A357\",\"stroke-width\":3,\"fill\":\"#68A357\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.440909,39.780831],[-75.409172,39.787749],[-75.405959,39.763484],[-75.378232,39.745763],[-75.376783,39.726626],[-75.33663,39.704244],[-75.326452,39.689992],[-75.307554,39.689619],[-75.28549,39.679724],[-75.262393,39.681682],[-75.245461,39.664151],[-75.219988,39.66175],[-75.199806,39.666983],[-75.061973,39.568643],[-75.074395,39.544357],[-75.072214,39.523896],[-75.079699,39.501434],[-75.073324,39.485418],[-75.084014,39.457372],[-75.239529,39.559188],[-75.293613,39.511892],[-75.325917,39.488555],[-75.342322,39.490623],[-75.368107,39.456802],[-75.39983,39.462271],[-75.414305,39.453054],[-75.408753,39.423785],[-75.418911,39.410417],[-75.407294,39.381954],[-75.422099,39.386521],[-75.431803,39.391625],[-75.442393,39.402291],[-75.465212,39.43893],[-75.476279,39.438126],[-75.483572,39.440824],[-75.505672,39.452927],[-75.508383,39.459131],[-75.536431,39.460559],[-75.542894,39.470447],[-75.544368,39.479602],[-75.542693,39.496568],[-75.528088,39.498114],[-75.527141,39.500112],[-75.529368,39.501229],[-75.53014,39.505373],[-75.529978,39.510817],[-75.526654,39.526638],[-75.526787,39.53144],[-75.527676,39.535278],[-75.531575,39.536825],[-75.534014,39.540702],[-75.532342,39.54328],[-75.526003,39.548488],[-75.519026,39.555401],[-75.514756,39.562612],[-75.511932,39.567616],[-75.512732,39.578],[-75.515228,39.580752],[-75.519628,39.583248],[-75.521596,39.583088],[-75.525677,39.584048],[-75.531133,39.587984],[-75.534477,39.590384],[-75.537213,39.592944],[-75.53954,39.594251],[-75.539949,39.594384],[-75.543965,39.596],[-75.545405,39.596784],[-75.553502,39.602],[-75.55587,39.605824],[-75.556734,39.606688],[-75.557502,39.609184],[-75.556878,39.612144],[-75.558446,39.617296],[-75.559614,39.624208],[-75.559102,39.629056],[-75.559446,39.629812],[-75.556246,39.634912],[-75.550645,39.637912],[-75.547197,39.640528],[-75.542045,39.646012],[-75.539245,39.646112],[-75.535144,39.647212],[-75.526744,39.655113],[-75.526844,39.655713],[-75.526344,39.656413],[-75.522343,39.660813],[-75.518343,39.663913],[-75.514643,39.668613],[-75.511743,39.674313],[-75.509342,39.685313],[-75.509742,39.686113],[-75.509042,39.694513],[-75.507162,39.696961],[-75.504042,39.698313],[-75.496241,39.701413],[-75.491341,39.711113],[-75.488553,39.714833],[-75.485241,39.715813],[-75.483141,39.715513],[-75.481741,39.714546],[-75.47894,39.713813],[-75.47764,39.715013],[-75.476888,39.718337],[-75.477432,39.720561],[-75.47724,39.724713],[-75.47544,39.728713],[-75.475384,39.731057],[-75.474168,39.735473],[-75.469239,39.743613],[-75.466263,39.750737],[-75.466249,39.750769],[-75.463039,39.758313],[-75.463339,39.761213],[-75.459439,39.765813],[-75.452339,39.769013],[-75.447339,39.773313],[-75.448135,39.773969],[-75.448639,39.774113],[-75.440909,39.780831]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "c5bb1823.d37578",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Somerset geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Somerset\",\"layer\":\"Somerset\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#62965D\",\"stroke-width\":3,\"fill\":\"#62965D\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.622744,40.384421],[-74.653814,40.391003],[-74.722156,40.375146],[-74.748147,40.424156],[-74.782513,40.487775],[-74.797841,40.515557],[-74.775983,40.503283],[-74.742659,40.553898],[-74.724644,40.566108],[-74.712962,40.584231],[-74.724937,40.588755],[-74.703689,40.621296],[-74.725501,40.631736],[-74.719498,40.651807],[-74.730539,40.665623],[-74.717812,40.684098],[-74.724418,40.719455],[-74.555771,40.758005],[-74.548999,40.740994],[-74.528827,40.728133],[-74.526846,40.710872],[-74.513608,40.697339],[-74.534387,40.667256],[-74.523627,40.649702],[-74.461231,40.673397],[-74.451697,40.654202],[-74.429612,40.665317],[-74.401926,40.664472],[-74.408264,40.644185],[-74.43804,40.60991],[-74.463351,40.599245],[-74.509589,40.584224],[-74.525899,40.568507],[-74.515782,40.544955],[-74.490547,40.523048],[-74.467425,40.508722],[-74.459922,40.491015],[-74.489524,40.474415],[-74.493226,40.47077],[-74.494275,40.469807],[-74.536248,40.4383],[-74.585864,40.417085],[-74.587804,40.394264],[-74.619591,40.374397],[-74.617525,40.377862],[-74.622744,40.384421]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "30359abe.41e866",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Sussex geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Sussex\",\"layer\":\"Sussex\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#77AD78\",\"stroke-width\":3,\"fill\":\"#77AD78\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.967136,41.094441],[-74.967464,41.095327],[-74.969434,41.096074],[-74.972036,41.095562],[-74.975298,41.094073],[-74.981314,41.08986],[-74.984782,41.088545],[-74.988263,41.088222],[-74.991013,41.088578],[-74.991815,41.089132],[-74.991718,41.092284],[-74.982212,41.108245],[-74.979873,41.110423],[-74.972917,41.113327],[-74.969312,41.113869],[-74.966298,41.113669],[-74.964294,41.114237],[-74.947912,41.12356],[-74.947334,41.124439],[-74.947714,41.126292],[-74.945067,41.129052],[-74.931141,41.133387],[-74.923169,41.138146],[-74.905256,41.155668],[-74.90178,41.161394],[-74.901172,41.16387],[-74.899701,41.166181],[-74.889424,41.1736],[-74.882139,41.180836],[-74.878492,41.187504],[-74.878275,41.190489],[-74.874034,41.198543],[-74.867287,41.208754],[-74.860398,41.217454],[-74.859632,41.219077],[-74.859323,41.220507],[-74.860837,41.222317],[-74.866839,41.226865],[-74.867405,41.22777],[-74.866182,41.232132],[-74.862049,41.237609],[-74.861678,41.241575],[-74.857151,41.248975],[-74.856003,41.250094],[-74.854669,41.25051],[-74.848987,41.251192],[-74.846932,41.253318],[-74.845883,41.254945],[-74.845031,41.258055],[-74.846506,41.261576],[-74.846319,41.263077],[-74.841137,41.27098],[-74.838366,41.277286],[-74.834067,41.281111],[-74.830057,41.2872],[-74.821884,41.293838],[-74.815703,41.296151],[-74.812033,41.298157],[-74.806858,41.303155],[-74.792558,41.310628],[-74.791991,41.311639],[-74.792377,41.314088],[-74.795822,41.318516],[-74.79504,41.320407],[-74.792116,41.322465],[-74.789095,41.323281],[-74.781584,41.324229],[-74.774887,41.324326],[-74.771588,41.325079],[-74.766714,41.328558],[-74.763499,41.331568],[-74.760325,41.340325],[-74.755971,41.344953],[-74.753239,41.346122],[-74.735622,41.346518],[-74.730373,41.345983],[-74.720923,41.347384],[-74.708514,41.352734],[-74.704429,41.354043],[-74.700595,41.354553],[-74.694914,41.357423],[-74.641544,41.332879],[-74.607348,41.317774],[-74.499603,41.267344],[-74.457584,41.248225],[-74.378898,41.208994],[-74.365849,41.202999],[-74.501614,41.087177],[-74.502892,41.085904],[-74.504928,41.084805],[-74.536002,41.058497],[-74.606789,40.998027],[-74.638993,40.967267],[-74.634913,40.951144],[-74.65303,40.921623],[-74.691406,40.903998],[-74.711393,40.899141],[-74.731869,40.920823],[-74.767874,40.911823],[-74.78921,40.931298],[-74.967136,41.094441]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1300,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "78ae2bb8.6da2a4",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Union geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Union\",\"layer\":\"Union\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#06BA63\",\"stroke-width\":3,\"fill\":\"#06BA63\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-74.321408,40.719072],[-74.318992,40.719201],[-74.315991,40.719199],[-74.315293,40.718601],[-74.313793,40.718001],[-74.312794,40.717101],[-74.311691,40.715601],[-74.309791,40.715501],[-74.309388,40.714901],[-74.308793,40.714508],[-74.307589,40.714201],[-74.306991,40.714002],[-74.305393,40.713701],[-74.303691,40.7133],[-74.302695,40.713601],[-74.302092,40.713301],[-74.30123,40.713472],[-74.28587,40.722225],[-74.222452,40.707249],[-74.201589,40.686602],[-74.165187,40.690203],[-74.136703,40.674444],[-74.153041,40.6548],[-74.160288,40.645903],[-74.161397,40.644092],[-74.181083,40.646484],[-74.186027,40.646076],[-74.189106,40.643832],[-74.202223,40.631053],[-74.206731,40.594569],[-74.215101,40.604074],[-74.24779,40.600103],[-74.25381,40.600989],[-74.255822,40.602194],[-74.258114,40.60225],[-74.291391,40.591903],[-74.303392,40.608903],[-74.394634,40.600901],[-74.437334,40.597188],[-74.4568,40.5955],[-74.463351,40.599245],[-74.43804,40.60991],[-74.408264,40.644185],[-74.401926,40.664472],[-74.429612,40.665317],[-74.451697,40.654202],[-74.461231,40.673397],[-74.426897,40.701711],[-74.390769,40.718294],[-74.371923,40.739229],[-74.321408,40.719072]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1340,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "e87046d6.81827",
        "type": "change",
        "z": "7658216f.bd2368",
        "name": "Warren geojson",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\":\"Warren\",\"layer\":\"Warren\",\"geojson\":{\"type\":\"Feature\",\"properties\":{\"stroke\":\"#3C887E\",\"stroke-width\":3,\"fill\":\"#3C887E\",\"fill-opacity\":0.4},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-75.196803,40.60858],[-75.198499,40.611492],[-75.201348,40.614628],[-75.201812,40.617188],[-75.200708,40.618356],[-75.197891,40.619332],[-75.190691,40.619956],[-75.189283,40.621492],[-75.188579,40.624628],[-75.191059,40.637971],[-75.192276,40.640803],[-75.193492,40.642275],[-75.200468,40.646899],[-75.200452,40.649219],[-75.196676,40.655123],[-75.190852,40.661939],[-75.18794,40.663811],[-75.182756,40.665971],[-75.177491,40.672595],[-75.176803,40.675715],[-75.177587,40.677731],[-75.180564,40.679363],[-75.184516,40.679971],[-75.19058,40.679379],[-75.19692,40.681299],[-75.20092,40.685498],[-75.20392,40.691498],[-75.19872,40.705298],[-75.19442,40.714018],[-75.192612,40.715874],[-75.189412,40.71797],[-75.186372,40.72397],[-75.1825,40.729922],[-75.182084,40.731522],[-75.182804,40.73365],[-75.18578,40.737266],[-75.195349,40.745473],[-75.196325,40.747137],[-75.196861,40.750097],[-75.196533,40.751631],[-75.191796,40.75583],[-75.183037,40.759344],[-75.17904,40.761897],[-75.177477,40.764225],[-75.176855,40.768721],[-75.17562,40.772923],[-75.173349,40.776129],[-75.171587,40.777745],[-75.169523,40.778473],[-75.16365,40.778386],[-75.149378,40.774786],[-75.139106,40.773606],[-75.1344,40.773765],[-75.133303,40.774124],[-75.131465,40.77595],[-75.125867,40.784026],[-75.123088,40.786746],[-75.116842,40.78935],[-75.111343,40.789896],[-75.108505,40.791094],[-75.1008,40.799797],[-75.100277,40.801176],[-75.100165,40.803],[-75.100739,40.805488],[-75.100277,40.807578],[-75.098279,40.810286],[-75.096147,40.812211],[-75.090518,40.815913],[-75.085387,40.821972],[-75.083929,40.824471],[-75.083822,40.827805],[-75.085517,40.830085],[-75.09494,40.837103],[-75.097006,40.839336],[-75.097572,40.840967],[-75.097586,40.843042],[-75.097221,40.844672],[-75.095784,40.847082],[-75.090962,40.849187],[-75.076684,40.849875],[-75.073544,40.84894],[-75.07083,40.847392],[-75.066014,40.847591],[-75.064328,40.848338],[-75.060491,40.85302],[-75.053294,40.8599],[-75.051029,40.865662],[-75.050839,40.868067],[-75.051508,40.870224],[-75.053664,40.87366],[-75.058655,40.877654],[-75.062149,40.882289],[-75.065438,40.885682],[-75.07392,40.892176],[-75.07534,40.894162],[-75.075957,40.895694],[-75.075188,40.900154],[-75.076092,40.907042],[-75.076956,40.90988],[-75.079279,40.91389],[-75.095526,40.924152],[-75.09772,40.926679],[-75.105524,40.936294],[-75.106153,40.939671],[-75.111683,40.948111],[-75.117764,40.953023],[-75.118904,40.956361],[-75.119893,40.961646],[-75.120316,40.96263],[-75.12065,40.964028],[-75.11977,40.96651],[-75.120435,40.968302],[-75.120514,40.968369],[-75.122603,40.970152],[-75.129074,40.968976],[-75.131364,40.969277],[-75.13378,40.970973],[-75.135526,40.973807],[-75.135521,40.976865],[-75.133086,40.980179],[-75.132106,40.982566],[-75.13153,40.984914],[-75.131619,40.9889],[-75.130575,40.991093],[-75.127196,40.993954],[-75.123423,40.996129],[-75.110595,41.002174],[-75.109114,41.004102],[-75.100682,41.006716],[-75.095556,41.008874],[-75.090312,41.013302],[-75.089787,41.014549],[-75.081101,41.016838],[-75.074999,41.01713],[-75.070532,41.01862],[-75.040668,41.031755],[-75.034496,41.036755],[-75.030701,41.038416],[-75.025777,41.039806],[-75.02543,41.04071],[-75.026376,41.04444],[-75.025702,41.046482],[-75.019186,41.052968],[-75.017239,41.055491],[-75.015867,41.05821],[-75.015271,41.061215],[-75.01257,41.066281],[-75.011133,41.067521],[-75.006376,41.067546],[-74.999617,41.073943],[-74.994847,41.076556],[-74.989332,41.078319],[-74.98259,41.079172],[-74.970987,41.085293],[-74.968389,41.087797],[-74.966759,41.093425],[-74.967136,41.094441],[-74.78921,40.931298],[-74.767874,40.911823],[-74.807254,40.881836],[-74.801918,40.864055],[-74.850233,40.804235],[-74.889753,40.787832],[-74.968454,40.710791],[-74.979227,40.710883],[-75.002162,40.694309],[-75.016551,40.694488],[-75.076338,40.664013],[-75.108359,40.639754],[-75.145673,40.628745],[-75.180749,40.594556],[-75.190369,40.591642],[-75.192291,40.602676],[-75.195923,40.606788],[-75.196803,40.60858]]]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "41530f6a.44ee2"
            ]
        ]
    },
    {
        "id": "27131315.d5486c",
        "type": "comment",
        "z": "7658216f.bd2368",
        "name": "County GeoJSON Area Maps",
        "info": "Extract the 5m County GeoJSON county area map boundaries from:\nhttps://eric.clst.org/tech/usgeojson/",
        "x": 420,
        "y": 1140,
        "wires": []
    },
    {
        "id": "53e7e332.6e962c",
        "type": "ui_group",
        "z": "",
        "name": "New Jersey County Stats",
        "tab": "6a9ba259.f95164",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "25ac9be5.4f49bc",
        "type": "ui_group",
        "z": "",
        "name": "COVID NJ County Charts",
        "tab": "6a9ba259.f95164",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "4c8d1849.49b328",
        "type": "ui_group",
        "z": "",
        "name": "Map",
        "tab": "6a9ba259.f95164",
        "order": 3,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "6a9ba259.f95164",
        "type": "ui_tab",
        "z": "",
        "name": "COVID NJ County Reports",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
